{{#extend "main-layout"}}
  {{#content "body" mode="append"}}
      <div class="app blank sidebar-opened">
        {{!-- Content section --}}
          <article class="content">
            {{#block "article"}}

            {{/block}}
          </article>
      </div>
  {{/content}}
{{/extend}}
