<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {{__ 'Title'}}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/animate.css/animate.css">
    <link rel="stylesheet" href="/dependencies/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/dependencies/metismenu/dist/metisMenu.css">
    <link rel="stylesheet" href="/dependencies/nprogress/nprogress.css">
    <link rel="stylesheet" href="/dependencies/dropzone/dist/dropzone.css">
    <link rel="stylesheet" href="/dependencies/morris.js/morris.css">
    <link rel="stylesheet" href="/dependencies/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/dependencies/baguettebox.js/dist/baguetteBox.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

</head>
<body>
    {{#block "body"}}

    {{/block}}
    <div id="loading" style="display: none;">
        <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <!-- Reference block for JS -->
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery/dist/jquery.js"></script>
    <script src="/dependencies/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/dependencies/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="/dependencies/metismenu/dist/metisMenu.js"></script>
    <script src="/dependencies/nprogress/nprogress.js"></script>
    <script src="/dependencies/responsive-toolkit/dist/bootstrap-toolkit.js"></script>
    <script src="/dependencies/tinycolor2/tinycolor.js"></script>
    <script src="/dependencies/dropzone/dist/dropzone.js"></script>
    <script src="/dependencies/jquery-touchswipe/jquery.touchSwipe.js"></script>
    <script src="/dependencies/jquery.browser/dist/jquery.browser.js"></script>
    <script src="/dependencies/popper.js/dist/umd/popper.js"></script>
    <script src="/dependencies/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/dependencies/raphael/raphael.js"></script>
    <script src="/dependencies/morris.js/morris.js"></script>
    <script src="/dependencies/baguettebox.js/dist/baguetteBox.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/localization/messages_zh.js"></script>
    <script src="/js/pages/dashboard.page.js"></script>
    <script src="/js/pages/entrance/forgot-password.page.js"></script>
    <script src="/js/pages/entrance/login.page.js"></script>
    <script src="/js/pages/lottery/lottery-editor.page.js"></script>
    <script src="/js/pages/machine/machine-add.page.js"></script>
    <script src="/js/pages/machine/machine-lottery-add.page.js"></script>
    <script src="/js/pages/product/product-add.page.js"></script>
    <script src="/js/pages/product/product-detail.page.js"></script>
    <script src="/js/pages/role/role-editor.page.js"></script>
    <script src="/js/pages/user/user-editor.page.js"></script>
    <script src="/js/main.js"></script>
    <!--SCRIPTS END-->
</body>
</html>
