<div class="modal fade" id="modal-media">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{__ 'Media Upload'}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body modal-tab-container">
                <div class="tab-content modal-tab-content">
                    <div class="tab-pane fade in active show" id="upload" role="tabpanel">
                        <div class="upload-container">
                            <div id="dropzone">
                                <form action="/api/v1/lottery" method="POST" enctype="multipart/form-data" class="dropzone needsclick dz-clickable" id="dropzone-upload">
                                    <div class="dz-message-block">
                                        <div class="dz-message needsclick">
                                            {{__ 'Drop files here or click to upload.'}}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{__ 'Close'}}</button>
                <button type="button" class="btn btn-primary" id="media-ok">{{__ 'Confirm edit'}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
