<div class="modal fade" id="upload-modal">
    <div role="document" class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload a new thing</h5>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span>×</span></button>
            </div>
            <form class="ajax-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Add a photo:</label>
                        <div class="photo-uploader empty">
                            <div class="photo-upload-field row d-flex align-items-center justify-content-center">
                                <div class="photo-preview col">
                                    <div class="image-wrapper d-flex align-items-center justify-content-center">
                                        <span class="placeholder-icon fa fa-picture-o"></span>
                                    </div>
                                </div>
                                <div class="col d-flex-column justify-content-center">
                    <span class="file-upload-button btn btn-sm btn-outline-success">
                      <span class="button-text">Select image</span>
                      <input type="file" accept="image/*" class="file-input"></span>
                                    <p class="image-advice text-muted">
                                        <strong>Tip</strong>: Make sure the item is front and center in the photo, so people
                                        know exactly what you're offering to share.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer flex-row-reverse justify-content-start">
                    <button type="submit" class="btn ajax-button btn btn-primary ml-1">
                        <span class="button-text">Share item</span>
                    </button>
                    <button data-dismiss="modal" class="btn btn-outline-primary mr-1">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
